<!DOCTYPE html>
<html lang="zh-cn" style="height: 100%">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>赛事成绩</title>
</head>

<body style="font: 1em sans-serif; height: 100%; margin: 0em">
    <form style="display: flex; flex-flow: column nowrap; height: 100%; margin: 0em auto; max-width: 64em">
        <div style="background-color: #1b8bdf; height: 2.5em">
            <div style="display: flex; height: 2.5em; justify-content: space-between">
                <button id="modoru" type="button" style="background: transparent; border: none; color: white; cursor: pointer; font: 1em sans-serif; padding: 0em 0.5em">返回</button>
            </div>
        </div>
        <div id="rankingu" style="width: 100%;"></div>
    </form>
    <script>
        (function () { "use strict"; document.getElementById("modoru").addEventListener("click", function () { document.location.href = "./browse.html" }) })()
    </script>
    <script>
            (function () {
                "use strict";
                var rankingu = [{{.Ranks}}];
                var el0 = document.getElementById("rankingu");
                for (var i = rankingu.length - 1; i >= 0; i--) {
                    var el4 = document.createTextNode("比赛名称：");
                    var el5 = document.createTextNode(rankingu[i]["shiaimei"]);
                    var el6 = document.createElement("div");
                    el6.appendChild(el4);
                    el6.appendChild(el5);
                    var el7 = document.createTextNode("比赛阶段：");
                    var el8 = document.createTextNode(rankingu[i]["reberu"]);
                    var el9 = document.createElement("div");
                    el9.appendChild(el7);
                    el9.appendChild(el8);
                    var el10 = document.createTextNode("日期：");
                    var el11 = document.createTextNode(rankingu[i]["hiduke"]);
                    var el12 = document.createElement("div");
                    el12.appendChild(el10);
                    el12.appendChild(el11);
                    var el13Len = rankingu[i]["naibun"].length;
                    var el14 = document.createElement("div");
                    for (var j = 0; j < el13Len; j++) {
                        var el13 = document.createTextNode("第" + (j+1) + "名：" + rankingu[i]["naibun"][j]);
                        var br = document.createElement("br");
                        el14.appendChild(el13);
                        if(j < el13Len - 1) {
                            el14.appendChild(br);
                        }
                        el14.style.margin = "1em";
                    }
                    var el15 = document.createElement("div");
                    el15.appendChild(el6);
                    el15.appendChild(el9);
                    el15.appendChild(el12);
                    el15.appendChild(el14);
                    el15.style.backgroundColor = "#e0edfc";
                    el15.style.boxShadow = "#777777 0em 0em 0em";
                    el15.style.boxSizing = "border-box";
                    el15.style.margin = "30px 32px";
                    el15.style.padding = "1em";
                    el15.style.transition = "background-color 0.33s ease, box-shadow 0.33s ease";
                    (function (el15, i) {
                        el15.addEventListener("mouseover", function () {
                            el15.style.backgroundColor = "#ffffff";
                            el15.style.boxShadow = "#777777 0em 0em 1em";
                        });
                        el15.addEventListener("mouseout", function () {
                            el15.style.backgroundColor = "#e0edfc";
                            el15.style.boxShadow = "#777777 0em 0em 0em";
                        });
                    })(el15, i);
                    el0.appendChild(el15);
                }
            })();    </script>
</body>

</html>